
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Hangman style*/
* {
  margin: auto;
  padding: auto;
}

div#startGame_button2 {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 20px 6px;
  border-radius: 5px;
  margin: 15px 0 0 0;
  cursor: pointer;
}

body {
  background-color: rgb(44 44 44);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  color: rgb(255, 255, 255);
  font-family: 'Baloo Bhai 2', cursive;
}
#header {
  text-align:center;
  padding:1rem 0;
  border-bottom: 1px solid rgb(109, 101, 101);;
  width: 100%;
}
#header h1 {
  padding: 0 0 15px 0;
}
#section_1 {
  text-align:center;
  padding: 2rem 0;
  border-bottom: 1px solid rgb(109, 101, 101);
  width: 100%;
}
.startGame_wrapper{
  padding: 2rem;
}
#startGame_button {
  background: transparent;
  color: #fff;
  border: 1px solid rgb(109, 101, 101);
  padding: 0.4rem 0.8rem;
  font-size: .8rem;
  cursor: pointer;
  border-radius:5px;
  font-weight: 600;
  display: inline-block;
}
.section_2_wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  overflow: hidden;
  background: rgb(44 44 44);
}
#hangman {
  width: 100%;
  height: 100%;
  border-right: 1px solid rgb(109, 101, 101); 
  flex: 0 50%;
}
.hm_wrapper {
  padding-top: 6rem;
}
.hm_stand {
  position: relative;
}
.hm_hook {
  width: 2px;
  height: 10px;
  position: absolute;
  left: 157px;
  top: 35px;
  background-color: #fff;
}
.left_bar {
  width:10px;
  height: 200px;
  background: #fff;
  position: absolute;
  left: 100px;
  top: 20px;
}
.top_hanger {
  width:100px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 110px;
  top: 30px;
}
.bottom_stand {
  width:80px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 65px;
  top: 220px;
}
.hman {
  position: relative;
  /* transform-origin: 46% 0;
  animation: moveIt 4.5s ease-in-out infinite; */
}
.hm_head {
  width: 45px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 50px;
  position: absolute;
  left: 135px;
  top: 45px;
}
.hm_body {
  width: 2px;
  height: 80px;
  position: absolute;
  left: 157px;
  top: 92px;
  background-color: #fff;
}
.hm_l_arm {
  width: 2px;
  height: 40px;
  position: absolute;
  left: 146px;
  top: 105px;
  background-color: #fff;
  transform: rotate(35deg);
  -ms-transform: rotate(35deg);
}
.hm_r_arm {
  width: 2px;
  height: 40px;
  position: absolute;
  left: 168px;
  top: 105px;
  background-color: #fff;
  transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
}
.hm_l_leg {
  width: 2px;
  height: 40px;
  position: absolute;
  left: 146px;
  top: 166px;
  background-color: #fff;
  transform: rotate(35deg);
  -ms-transform: rotate(35deg);
}
.hm_r_leg {
  width: 2px;
  height: 40px;
  position: absolute;
  left: 168px;
  top: 166px;
  background-color: #fff;
  transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
}
#keypadWrapper {
  /* border-left: 1px solid rgb(109, 101, 101); */
  flex: 0 50%;
}
.letter_box {
  border: 1px solid rgb(109, 101, 101);
  padding: 0.4rem .6rem;
  font-family: 'Baloo Bhai 2', cursive;
  margin: 0 .5rem;
  border-radius: 5px;
  list-style: none;
  line-height: 1;
}
#keypad form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
#keypad form button {
  flex-basis: 15%;
  background-color: rgb(56, 58, 58);
  border: none;
  margin: 3px;
  padding: 7px 0;
  cursor: pointer;
  color:#fff;
  border-radius: 2px;
  font-family: 'Baloo Bhai 2', cursive;
  text-transform: uppercase;
}
ul#gameWord {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.letter_box span {
  opacity: 0;
  text-transform: uppercase;
}
#keypad p {
  text-align: center;
  padding: 4rem 0 0 0;
}
.re-startGame_wrapper {
  text-align: center;
  padding: 2rem 0 0 0;
}
#reStart{
  display: none;
}

@keyframes moveIt {
  0%, 100% {
      transform: rotate(8deg);
  }
  50% {
      transform: rotate(-8deg);
  }
}
